

html {
  box-sizing: border-box;
  
}


h1 {
  font-family: 'Roboto', sans-serif;
  color:  hsl(234, 29%, 20%);
  /* text-align: center; */
  font-size: 2.3rem;
  font-weight: 600;
  margin-bottom: 15px;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 0.7rem;
  font-weight: 400;
  margin: 0;

}

body {
  background-color: hsl(234, 29%, 20%);
}


body .premaincontent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: auto;
  
}


 .mainmaincontent {
  display: flex;
  /* flex: 1; */
  /* justify-content: space-between; */
  background-color: white;
  border-radius: 30px;
  
  /* width: 80vw; */
  width: 652px;
  
  /* gap: 30px; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mainmaincontent2 {
  display: flex;
  background-color: white;
  flex-direction: column;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 400px
}

body button {
  background-color: hsl(234, 29%, 20%);
  color: white;
  box-sizing: border-box;
  border: 0;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 8px;
  margin-left: 10%;
  margin-right: 10%;
  height: 43px;
  width: 80%;
}
body button:hover{
    background-image: linear-gradient(270deg, hsl(4, 100%, 67%), hsl(339, 72%, 56%));
}
.subcontentone {
  flex: 1;
  /* justify-content: center; */
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  /* text-align: center; */
  /* width: 300px; */
  /* margin: 40px; */
  padding-left: 50px;
  padding-right: 50px;
  
}

.subcontentone2 {
  flex: 1;
  /* justify-content: center; */
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  /* text-align: center; */
  /* width: 300px; */
  /* margin: 40px; */
  padding-left: 50px;
  padding-right: 50px;
}

.subcontenttwo {
  padding-left: 0px;
  padding-right: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
    
} 
.img2 {
  height: 400px;
  /* background-image: url("./images/illustration-sign-up-desktop.svg"); */
  /* width: 400px; */
  /* width: 300px; */
}

ul {
  list-style-type: none;
  font-family: 'Roboto', sans-serif;
  font-size: 0.7rem;
  padding-left: 0;
  margin-top: 15px;
  
  /* justify-content: space-around; */
  
}

ul li {
  display:block;
  /* gap: 10px */
  line-height: 22px;
  padding-bottom: 5px;
}

ul li img {
  vertical-align: middle;
  margin-right: 11px;
}


.form-container p {
  font-weight: 700;
}


form {
  display: flex;
  flex-direction: column;
  gap: 15px
}

form button {
  background-color: hsl(234, 29%, 20%);
  color: white;
  border: 0;
  margin-left: 0%;
  margin-right: 0%;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  border-radius: 8px;
  height: 43px;
  
}
form button:hover{
  background-image: linear-gradient(270deg, hsl(4, 100%, 67%), hsl(339, 72%, 56%));
}
form input {
  padding-left: 12px; 
  padding-right: 12px;
  font-family: 'Roboto', sans-serif;
  font-size: 0.7rem;
  height: 40px;
  margin-top: 10px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  resize: none;
}

form input [type="text"] {
  font-size: 0.7rem;
  font-family: 'Roboto', sans-serif;
}
form input::placeholder {
    font-size: 0.7rem;
    font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 660px) {

  body {
    background-color: white;
    margin: 0;
    
  }
  .mainmaincontent {
    flex: 1;
    width: 100%;
    box-shadow: none;
    align-self: stretch;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-flow: column-reverse;
    border-radius: 0;
    
  }

  .mainmaincontent2 {
    flex: 1;
    width: 100%;
    box-shadow: none;
    height: 100vh;
    justify-content: space-between;
    flex-direction: column;
  }

  /* .mainmaincontent2 p {
    flex: 1
  } */
  .subcontentone2{
    justify-content: center;
    /* align-items: center; */
  }
  .subcontentone2 p{
    font-size: 0.8rem;
  }

  .subcontenttwo{
    padding: 0;
    margin: 0;
    height: min-content;
    /* align-items: start; */
    /* flex: 1 */
  }

  .img2{
    width: 100%;
    border-radius: 0px 0px 25px 25px;
    /* content: './illustration-sign-up-mobile.svg' !important;  */
    /* height: 550px; */
    /* height: max-content; */
  } 
  #main-img {
  
    height:max-content;
    /* content: './illustration-sign-up-mobile.svg' !important;  */
    width:100%;
    /* max-height: 620px; */
  } 
  
  .subcontentone {
    margin-bottom: 50px;
    flex: 1
  }

  .premaincontent {
    padding: 0;
    /* justify-content: start; */
    /* align-items: center; */
    /* align-items: start; */
  }

}
